<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ArduinoInstructionsConfiguration" 
				 type="Resources.Entities.ConfigSections.ArduinoConfigSection, Resources.Entities"/>
	</configSections>
	<ArduinoInstructionsConfiguration configSource="ArduinoInstructions.config"/>
</configuration>