<ArduinoInstructionsConfiguration>
	<Instructions>
		<Instruction Code="1" Name="TurnOffFans"/>
		<Instruction Code="2" Name="TurnOffLights"/>
		<Instruction Code="3" Name="TurnOffScreen"/>
		<Instruction Code="4" Name="TurnOnFans"/>
		<Instruction Code="5" Name="TurnOnLights"/>
		<Instruction Code="6" Name="TurnOnScreen"/>
		<Instruction Code="7" Name="GetStateFans"/>
		<Instruction Code="8" Name="GetStateLights"/>
		<Instruction Code="9" Name="GetStateScreen"/>
		<Instruction Code="10" Name="TurnOff"/>
		<Instruction Code="11" Name="TurnOn"/>
	</Instructions>
</ArduinoInstructionsConfiguration>